# notebooks
numpy==1.13.3
scipy==1.0.0
tensorflow==1.4.0
edward==1.3.4
PyYAML==3.12
jupyter==1.0.0
matplotlib==2.1.0
pandas==0.21.0
seaborn==0.8.1
tabulate==0.8.2
yass-algorithm==0.1.1
nbmerge==0.0.4

# testing
pytest==3.3.0
flake8==3.5.0
pytest-flake8==0.9.1